<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/css/bootstrap.min.css" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/admin/registration}" method="post">
    <div>
        <label for="login">Логин:
            <input id="login" type="text" name="login" required>
        </label>
    </div>
    <div>
        <label for="rawPassword">Пароль:
            <input id="rawPassword" type="password" name="rawPassword" required>
        </label>
    </div>
    <div>
        <label for="firstname">Имя:
            <input id="firstname" type="text" name="firstName" required>
        </label>
    </div>
    <div>
        <label for="lastname">Фамилия:
            <input id="lastname" type="text" name="lastName" required>
        </label>
    </div>
    <div th:each="role : ${nroles}">
        <input th:id="${role.name}" type="checkbox" name="selectedRoles" th:value="${role.id}">
        <label th:for="${role.name}" th:text="${role.name}">Role name</label>
    </div>
    <div>
        <button type="submit">Зарегистрировать</button>
    </div>
</form>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>