<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/styles/css/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/css/main.css" rel="stylesheet">
  <title>Users</title>
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<div class="container-fluid kata-bg-f8f9fa">
  <div class="row mt-2">
    <nav class="nav nav-pills flex-column bg-white col-2 min-vh-100 pe-0">
      <a class="nav-link text-start" th:classappend="${param.user == null ? 'active' : ''}"
         href="#adminPanel" data-bs-toggle="tab">Admin</a>
      <a class="nav-link text-start" th:classappend="${param.user != null ? 'active' : ''}"
         href="#userInfo" data-bs-toggle="tab">User</a>
    </nav>
    <div class="col-10 px-4">

      <!-- Tab content -->
      <div id="adminTabContent" class="tab-content">

        <div id="adminPanel" class="tab-pane fade" th:classappend="${param.user == null ? 'active show' : ''}">
          <h2 class="h2">Admin panel</h2>
          <ul id="userTab" class="nav nav-tabs">
            <li class="nav-item">
              <a id="userTableLink" href="#userTable" class="nav-link active" data-bs-toggle="tab">User table</a>
            </li>

            <li class="nav-item">
              <a href="#newUser" class="nav-link" data-bs-toggle="tab">New user</a>
            </li>
          </ul>

          <!-- Tab content -->
          <div id="userTabContent" class="tab-content">
            <div id="userTable" class="tab-pane fade rounded border kata-border-ced4da active show">
              <div class="rounded-top border-bottom kata-border-ced4da kata-bg-f7f7f7">
                <p class="fs-4 mb-0 ps-3 py-2">All users</p>
              </div>

              <div class="px-3 pt-3 pb-3">
                <table class="table table-striped table-borderless align-middle border-top">
                  <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                  </thead>
                  <tbody id="users">
                  <!--                  filled by javaScript -->
                  </tbody>
                </table>


              </div>
            </div>

            <div id="newUser" class="tab-pane fade rounded border kata-border-ced4da">
              <div class="rounded-top border-bottom kata-border-ced4da kata-bg-f7f7f7">
                <p class="fs-4 mb-0 ps-3 py-2">Add new user</p>
              </div>
              <div class="d-flex justify-content-center bg-white rounded-bottom">
                <div class="col-4 text-center">
                  <label class="form-label fw-bold mb-0 mt-3" for="firstname">First name</label>
                  <input class="form-control text-secondary" id="firstname" type="text" name="firstName"
                         placeholder="First name" required>
                  <label class="form-label fw-bold mb-0 mt-3" for="lastname">Last name</label>
                  <input class="form-control text-secondary" id="lastname" type="text" name="lastName"
                         placeholder="Last name" required>
                  <label class="form-label fw-bold mb-0 mt-3" for="age">Age</label>
                  <input class="form-control text-secondary" id="age" type="number" name="age"
                         placeholder="Age" required>
                  <label class="form-label fw-bold mb-0 mt-3" for="login">Email</label>
                  <input class="form-control text-secondary" id="login" type="email" name="login"
                         placeholder="Email" required>
                  <label class="form-label fw-bold mb-0 mt-3" for="rawPassword">Password</label>
                  <input class="form-control text-secondary" id="rawPassword" type="password"
                         name="rawPassword" placeholder="Password" required>
                  <label class="form-label fw-bold mb-0 mt-3">Role</label>
                  <div class="form-control kata-form-shadow" tabindex="0">
                    <div th:each="role : ${roles}">
                      <input th:id="${'create' + role.name}" name="createRoles" th:data-role-id="${role.id}"
                             th:data-role-name="${role.name}" class="btn-check" type="checkbox">
                      <label th:for="${'create' + role.name}" th:text="${role.name}"
                             class="btn btn-outline-secondary kata-btn-primary rounded-0 border-0
                               px-1 py-0 w-100 text-start">Role name</label>
                    </div>
                  </div>
                  <button id="addNewUser" class="btn btn-success my-3">Add new user</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End of tab content -->

        </div>


        <div id="userInfo" class="tab-pane fade" th:classappend="${param.user != null ? 'active show' : ''}">
          <h2 class="h2">User information-page</h2>


          <div id="userTableInfo" class="tab-pane fade rounded border kata-border-ced4da active show">
            <div class="rounded-top border-bottom kata-border-ced4da kata-bg-f7f7f7">
              <p class="fs-4 mb-0 ps-3 py-2">About user</p>
            </div>

            <div class="px-3 pt-3 pb-3">
              <table class="table table-striped table-borderless align-middle border-top">
                <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First name</th>
                  <th scope="col">Last name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Email</th>
                  <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${admin}">
                  <td th:text="*{id}">Id</td>
                  <td th:text="*{firstName}">First name</td>
                  <td th:text="*{lastName}">Last name</td>
                  <td th:text="*{age}">Age</td>
                  <td th:text="*{login}">Email</td>
                  <td>
                    <th:block th:each="role : *{roles}">
                      <span th:text="${role.name}">Role name</span>
                    </th:block>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End of tab content -->

    </div>
  </div>
</div>

<!-- Modal update -->
<div class="modal fade" id="editUser" tabindex="-1"
     aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form id="editUserForm">
        <div class="modal-body d-flex justify-content-center">
          <div class="col-6 text-center">

            <label class="form-label fw-bold mb-0" for="editId">ID</label>
            <input class="form-control text-secondary" id="editId" type="text" name="editId" disabled>
            <label class="form-label fw-bold mb-0 mt-3" for="editFirstname">First name</label>
            <input class="form-control text-secondary" id="editFirstname" type="text" name="editFirstname"
                   placeholder="First name" required>
            <label class="form-label fw-bold mb-0 mt-3" for="editLastname">Last name</label>
            <input class="form-control text-secondary" id="editLastname" type="text" name="editLastname"
                   placeholder="Last name" required>
            <label class="form-label fw-bold mb-0 mt-3" for="editAge">Age</label>
            <input class="form-control text-secondary" id="editAge" type="number" placeholder="Age" name="editAge">
            <label class="form-label fw-bold mb-0 mt-3" for="editLogin">Email</label>
            <input class="form-control text-secondary" id="editLogin" type="email" name="editLogin"
                   placeholder="Email" required>
            <label class="form-label fw-bold mb-0 mt-3" for="editPassword">Password</label>
            <input class="form-control" id="editPassword" type="password" name="editPassword">
            <label class="form-label fw-bold mb-0 mt-3">Roles</label>
            <div class="form-control kata-form-shadow" tabindex="0">
              <div th:each="role : ${roles}">
                <input th:id="${'update' + role.name}" name="updateRoles" th:data-role-id="${role.id}"
                       th:data-role-name="${role.name}" th:value="${role.name}" class="btn-check" type="checkbox">
                <label th:for="${'update' + role.name}" th:text="${role.name}"
                       class="btn btn-outline-secondary kata-btn-primary border-0 rounded-0
                                         px-1 py-0 w-100 text-start">Role name</label>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal update end -->

<!-- Modal delete -->
<div class="modal fade" id="deleteUser" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form id="deleteUserForm">
        <div class="modal-body d-flex justify-content-center">
          <div class="col-6 text-center">
            <label class="form-label fw-bold mb-0" for="deleteId">ID</label>
            <input class="form-control text-secondary" id="deleteId" type="text" name="deleteId" disabled>
            <label class="form-label fw-bold mb-0 mt-3" for="deleteFirstname">First name</label>
            <input class="form-control text-secondary" id="deleteFirstname" type="text" name="deleteFirstname" disabled>
            <label class="form-label fw-bold mb-0 mt-3" for="deleteLastname">Last name</label>
            <input class="form-control text-secondary" id="deleteLastname" type="text" name="deleteLastname" disabled>
            <label class="form-label fw-bold mb-0 mt-3" for="deleteAge">Age</label>
            <input class="form-control text-secondary" id="deleteAge" type="number" name="deleteAge" disabled>
            <label class="form-label fw-bold mb-0 mt-3" for="deleteLogin">Email</label>
            <input class="form-control text-secondary" id="deleteLogin" type="email" name="deleteLogin" disabled>
            <label class="form-label fw-bold mb-0 mt-3">Roles</label>
            <div class="form-control kata-form-disabled">
              <div th:each="role : ${roles}">
                <input th:id="${'delete' + role.name}" name="deleteRoles" th:value="${role.name}"
                       class="btn-check" type="checkbox" disabled>
                <label th:for="${'delete' + role.name}" th:text="${role.name}"
                       class="btn btn-outline-secondary border-0 rounded-0 px-1 py-0 w-100 text-start">Role name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal delete end -->

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>