<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/css/bootstrap.min.css" rel="stylesheet">
    <title>Пользователь</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<div th:object="${user}">
    <span th:text="*{id}">Id</span>
    <span th:text="*{login}">Login</span>
    <span th:text="*{firstName}">First name</span>
    <span th:text="*{lastName}">Last name</span>
    <th:block th:each="role : *{roles}">
        <span th:text="${role.name}">Role name</span>
    </th:block>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>