<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/css/main.css" rel="stylesheet">
    <title>Fragments</title>
</head>
<body>
<div th:if="${#authentication}" th:fragment="header" class="sticky-top kata-bg-343a40 text-white">
    <div class="container-fluid d-flex py-1">
        <div class="align-self-center">
            <span th:text="${#authentication.name}" class="fw-bold">User name</span>
            &nbsp;with roles:&nbsp;
            <th:block th:each="role : ${#authentication.authorities}">
                <span th:text="${role.authority.replace('ROLE_', '')}">Role</span>
            </th:block>
        </div>
        <form th:action="@{/logout}" method="post" class="d-inline position-absolute top-50 end-0 translate-middle-y">
            <button type="submit" class="btn btn-link text-decoration-none link-secondary">Logout</button>
        </form>
    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>